.detail-header{
    background-color: rgb(255, 255,255);
    border-bottom: 1px solid rgb(224,224,224);
    height: 4rem;
    div{
        a{
            i{
                font-size: 1.2rem;
            }
        }
    }
}