@import "./variable";
header{
    margin: 0;
    padding: 0;
    border: 0;
    background:linear-gradient(to top,$bg-main,white);
    height: 4rem;
    border-bottom: 1px solid rgb(212,212,212);
    div{
        color: $jamejam;
        text-align: center;
        padding-top : .4rem;
        font-size: 2rem;
        font-weight: bold;
    }
}