.mainlogin{
    h2{
        font-weight: bold;
    }
    h3{
        font-size: 20px;
    }
    .register-h2{
        font-size: 18px;
        font-weight: bold;
    }
    .register-h3{
        font-size: 15px;
        text-align: justify;
        text-justify: inter-word;
    }
    form{
        p{
            text-align: justify;
            text-justify: inter-word;
        }
        @include checkbox;
    }
    section{
        .login{
            text-align: justify;
            text-justify: inter-word;   
        }
    }
}