.mainlogin {
  h2 {
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
  }
  .register-h2 {
    font-size: 18px;
    font-weight: bold;
  }
  .register-h3 {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
  }
  form {
    .style-1 {
      margin: 0;
      margin-top: 1px;
      border: 1px solid black;
      border-bottom: 1px solid gray;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .style-2 {
      margin: 0;
      border: 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid gray;
      border-radius: 0;
    }
    .style-3 {
      margin: 0;
      border: 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid gray;
      border-radius: 0;
    }
    .style-4 {
      margin: 0;
      border: 0;
      border: 1px solid black;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .gradient-buttons{
      .btn-warning {
        background-image: linear-gradient(to bottom,rgb(247,223,161),rgb(240,193,77));
        background-repeat: repeat-x;
      }
    } 
    p {
      text-align: justify;
      text-justify: inter-word;
    }
    @include checkbox;
  }
  section {
    .login {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
.mainsoft{
  background: linear-gradient(to bottom ,rgb(244,244,244),rgb(255,255,255));
  margin-top: 4rem;
  scrollbar-color: transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .slide-container1{
    height: 12rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-top: 0.5rem;
    scrollbar-width: 0;
    &::-webkit-scrollbar { 
      display: none; 
    }
    .slide-book{
      width: 7.5rem;
      height: 10rem;
      background-color: yellow;
      margin: 5px;
      display: inline-block;
    }
  }
  .selectd-book{
    .row{
      margin :0;
      padding: 0;
      border: 0;
      .col-4{
        margin :0;
        padding: 0;
        border: 0;
        .user-book{
          margin :0;
          padding: 0;
          border: 0;
          position: relative;
          .slide-book{
            width: 7.5rem;
            height: 10rem;
            background-color: yellow;
            margin: 5px;
            display: inline-block;
            .base{
              position: relative;
              top: 0;
              right: -5rem;
              .base1{
                width: 1.6rem;
                height: 1.2rem;
                background-color: rgba(0,0,0,0.6);
                font-size: 0.7rem;
                color: white;
                text-align: center;
              }
              .base2{
                width: 0;
                height: 0;
                border-left: 0.8rem solid transparent;
                border-right: 0.8rem solid transparent;
                border-top: 0.6rem solid rgba(0,0,0,0.6);
              }
            }
            .check{
              position: relative;
              bottom: -6rem;
              right: -5rem;
              i{
                width: 1.5rem;
                height: 1.5rem;
                background-color: rgba(0,0,0,0.6);
                border-radius: 50%;
                color: white;
                text-align: center;
                padding-top: 0.2rem;
              }
            }
          }
        }
      }
      .col-8{
        margin :0;
        padding: 0;
        border: 0;
        .row{
          margin-left: 1.5rem;
          h5{
            font-size: 1.2rem;
          }
          a{
            .read{
              font-size: 1.2rem;
              border-radius: 0;
            }
          }
          
        }
      }
    }
  }
}
.more-main-menu{
  margin-top: 4.5rem;
  .menu{
    border-bottom: 2px solid rgb(224,224,224);
    .option{
      background-color: rgb(244,244,244);
      border-bottom: 1px solid rgb(224,224,224);
      font-size: 1rem;
      .icon{
        font-size: 1.3rem;
      }
      .sub-txt{
        font-size: 0.8rem;
      }
    }
    .vertical-align {
      display: flex;
      align-items: center;
    }
  }
}
.text-page-main{
  margin-top: 2rem;
  scrollbar-color: transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.notification-main{
  margin-top: 4rem;
  scrollbar-color: transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}