.store-father-header-wrapper{
    background-color: rgb(255,255,255);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 1px solid rgb(224,224,224);
    z-index: 1030;
    .header-wrapper{
        .txt-wrapper{
            .txt{
               font-weight:400 ;
               color: black;
            }
        }
        .icon-wrapper{
            .icon-link{
                .icon{
                   font-size: 1.1rem;
                }
            }
        }
    } 
}