$bg-header : rgb(247,249,248);
$brand-color : rgb(252,165,0);
$bg-main : rgb(246,246,246);
$main-text-color : rgb(17,17,17);
$main-link : rgb(1,102,192);
$bg-input : rgb(255,255,255);
$input-border-color : (148,148,148);
$bg-btn : (240,193,77);
$btn-border-color : rgb(166,135,52);
$bg-footer : rgb(240,240,240);
$footer-border-color : rgb(221,221,221);
$body-font : sans-serif;