//npm installed
@import "~react-toastify/scss/main";

body.rtl {
  .Toastify__toast {
    font-family: farsi, sans-serif;
  }
}
/* @import "~ng-snotify/styles/material";

.snotifyToast {
  &__progressBar {
    height: 2px;
    &__percentage {
      height: 2px;
    }
  }
}
 */
