.book-detail-wrapper{
    // margin-top: 4rem;
    margin-bottom: 4rem;
    // scrollbar-color: transparent;
    // scrollbar-width: none;
    // &::-webkit-scrollbar { 
    //   display: none;
    //   -ms-overflow-style: none;
    //   scrollbar-width: none;
    // }
    .book-detail{
      // margin-top: 4.5rem;
      .user-book{
        .slide-book{
          img{
            width: 100%;
            max-height: 100%;
          }
        }
      }
      .row{
        // .col-4{
        //   .user-book{
        //     margin :0;
        //     padding: 0;
        //     border: 0;
        //     .slide-book{
        //       width: 7.5rem;
        //       height: 10rem;
        //       background-color: yellow;
        //       display: inline-block;
        //       img{

        //       }
        //     }
        //   }
        // }
        .col-7{
          .rate-book{
            span{
              color: gray;
            }
            display: inline-block;
            .checked{
              color: orange;
            }
          }
          h6{
            color: rgb(5,112,156);
          }
          .number{
            color: rgb(5,112,156);
          }
          .pointer-container{
            .pointer{
              width: 6rem;
              height: 1.2rem;
              position: relative;
              background:orange;
              display: inline-block;
              color: white;
              font-size: 0.8rem;
              border: 0;
            }
            .pointer:before {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              width: 0;
              height: 0;
              border-right: 0.6rem solid white;
              border-top: 0.6rem solid transparent;
              border-bottom: 0.6rem solid transparent;
            }
            span{
              a{
                color: rgb(5,112,156);
              }
            }
          }
        }
      }
      .add-link{
        a{
          color: rgb(5,112,156) !important;
        }
      }
    }
    .about{
      div{
        border: 1px solid rgb(210,210,210);
        ul{
          li{
            font-weight: 600;
          }
        }
      }
    }
    .editor{
      .text-container{
        border: 1px solid rgb(210,210,210);
        .row{
          .col-10{
            p{
              font-weight: 500;
            }
          }
          div{
            a{
              i{
                font-size: 1.4rem;
              }
            }
          }
        }
      } 
    }
    .this-item{
      .text-container-1{
        border: 1px solid rgb(210,210,210);
        h5{
          font-weight: bold;
        }
        .bold{
          font-weight: bold;
        }
        .normal-txt{
          font-weight: 500;
        }
      }
      .text-container-2{
        border: 1px solid rgb(210,210,210);
        border-top: none;
        h5{
          font-weight: bold;
        }
        h6{
          font-weight: bold;
          span{
            font-weight: 500;
          }
        }
      }
    }
    .author{
      .author-info{
        border: 1px solid rgb(210,210,210);
        .txt{
          border-bottom: 1px solid rgb(210,210,210);
          p{
            font-weight: 500;
          }
        }
        .author-profile{
          .img{
            div{
              height: 5.2rem;
              width: 5.2rem;
              border-radius: 50%;
              background-color: gray;
            }
          }
          .col-6{
            div{
              h6{
                color: rgb(5,112,156);
                font-weight: 500;
                font-size: 1.1rem;
              }
              button{
                background-color: lightgrey;
                border-radius: 0;
              }
            }
          }
        }
      }
    }
    .Separator-border{
      border-bottom: 1px solid rgb(210,210,210);
    }
    .customer-reviews{
      .row{
        .col-10{
          .rate-customer{
            display: inline-block;
            span{
              color: gray;
            }
            .checked{
              color: orange;
            }
          }
        }
        .col-1{
          a{
            i{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
    .read-reviews{
      border-top: 1px solid rgb(210,210,210);
      .row{
        .col-5{
          .row{
            a{
              .btn{
                background-color: rgb(215,232,234);
                margin: 0.3rem;
                border-radius: 0;
                font-weight: 500;
              }
            }
          }
        }
      }
      h5{
        font-weight: bold;
      }
      .see-more{
        color: black;
        .fa{
          font-size: 1.2rem;
        }
        span{
          color: rgb(5,112,156);
          font-size: 1.1rem;
        }
      }
    }
    .comments{
      border-top: 1px solid rgb(210,210,210);
      h5{
        font-weight: bold;
      }
      h6{
        font-weight: bold;
      }
      .user-comment-box{
        .col-1{
          .img{
            height: 2.5rem;
              width: 2.5rem;
              border-radius: 50%;
              background-color: gray;
          }
        }
        .rate-comment{
          display: inline-block;
          span{
            color: gray;
          }
          .checked{
            color: orange;
          }
        }
        .Verified-star{
          color: orange;
          font-weight: bold;
        }
        .txt{
          font-weight: 450;
        }
        .helpful{
          .col-5{
            .btn{
              border-radius: 0;
              background-color: rgb(230,230,230);
              font-weight: 500;
            }
          }
          .col-2{
            font-weight: 500;
          }
        }
      }
    }
    .all-review{
      h6{
        font-weight: bold;
      }
      .fa{
        font-size: 1.4rem;
      }
    }
    .write-review{
      .write-box{
        background-color: rgb(230,230,230);
      }
    }
    .search-box{
      margin-bottom: 7rem;
      .row{
        input{
          border-top: 1px solid rgb(166,166,166);
          border-right: 1px solid rgb(166,166,166);
          border-left: 1px solid rgb(166,166,166);
          border-bottom: 1px solid rgb(210,210,210);
          border-radius: 0;
        }
        button{
          background-color: rgb(230,230,230);
          border-radius: 0;
        }
      }
    }
  }