.latestBook-wrapper {
  .book-img-wrapper {
    img {
      width: 100%;
    }
  }
  .book-detail-wrapper {
    .title,
    .more {
      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 0.25rem;
    }
    .writer {
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .book-btns {
      .btn-read-now {
        text-transform: uppercase;
        border-radius: 0 !important;
      }
      .dropdown-toggle {
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: #dae0e5;
        border-radius: 0 !important;

        i {
          font-size: 1.7rem;
          top: 0.35rem;
          right: 0.8rem;
          position: absolute;
        }
        &:after {
          display: none;
        }
      }
    }
  }
}

.booklistCategory-wrapper {
  .booklist-wrapper {
    .title {
      text-transform: uppercase;
    }
    .app-carousel {
      .slick-slider {
        overflow: hidden;
        .slick-list {
          margin: 0 -0.5rem;
          .slick-slide {
            padding: 0 0.5rem;
            .item {
              overflow: hidden;
              position: relative;

              img {
                width: 100%;
              }
              .item-number {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: #ffff;
                display: none;
              }
            }
            //   &.slick-active {
            //   }
          }
        }
      }
    }
  }
}

body {
  &:not(.rtl) {
    .booklistCategory-wrapper {
      .booklist-wrapper {
        .app-carousel {
          .slick-list {
            .slick-slide {
              .item {
                // margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  &.rtl {
    .booklistCategory-wrapper {
      .booklist-wrapper {
        .app-carousel {
          .slick-list {
            .slick-slide {
              .item {
                // margin-left: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}

// .slick-track {
//   display: flex !important;
//   align-items: stretch !important;
//   justify-content: center !important;
//   .slick-slide {
//     height: auto !important;
//   }
// }
