.library-wrapper {
  .library-menu {
    // border-top: 1px solid rgb(224, 224, 224);
    // margin-top: 4.4rem;
    background: white;
    height: 3rem;
    border-bottom: 1px solid rgb(212, 212, 212);
    // top: 4.45rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    .menu-wrapper {
      .filter-option {
        .filter-link {
          text-decoration: none;
          border-bottom: 1px solid blue;
          padding-bottom: 0.97rem;
          margin: 0 1rem;
        }
      }
    }
  }
  .row-wrapper {
    .library-grid-wrapper {
      //   width: 100%;
      .item-wrapper {
        width: 100%;
        height: auto;
        text-align: center;
        .library-grid-book-show {
          max-width: 100%;
        }
        .book-progress-state {
          position: absolute;
          top: 0rem;
          body:not(.rtl) & {
            right: 0.5rem;
          }
          body.rtl & {
            left: 0.5rem;
          }

          .bp-state-number {
            width: 1.6rem;
            height: 1.2rem;
            background-color: rgba(0, 0, 0, 0.6);
            font-size: 0.6rem;
            color: white;
            text-align: center;
            .text {
              @extend .center-el-in-box;
              top: 40%;
            }
          }
          .bp-state-arrow {
            width: 0;
            height: 0;
            border-left: 0.8rem solid transparent;
            border-right: 0.8rem solid transparent;
            border-top: 0.6rem solid rgba(0, 0, 0, 0.6);
          }
        }
        .book-download {
          position: absolute;
          bottom: 0.5rem;
          body:not(.rtl) & {
            right: 0.5rem;
          }
          body.rtl & {
            left: 0.5rem;
          }
          i {
            width: 1.5rem;
            height: 1.5rem;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            color: white;
            text-align: center;
            padding-top: 0.2rem;
          }
        }
      }
    }
  }
}
