.reader-scroll-wrapper {
  height: 100vh;
  overflow: hidden;

  .scroll-body {
    height: 100%; // calc(100% - 3rem);
    overflow: hidden;
    z-index: 0;
    position: relative;

    .app-swiper {
      height: 100%; // calc(100% - 5rem);
      overflow: hidden;
    }
  }

  .scroll-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 0px -2px 5px 0px #e6e6e6;
    margin-top: -3rem;
    background-color: #ffffffb3;
    .change-view {
      i {
        @include prefix(transform, rotate(90deg));
      }
    }
  }
}

.reader-scroll-wrapper {
  .scroll-body {
    .app-swiper {
      .swiper-container {
        height: 100%;
        // height:auto !important;
        // padding: 0 4rem;
        .swiper-wrapper {
        height: 100%;

          .swiper-slide {
            height: auto !important;
          }
        }
      }
      // .item-wrapper {
      // height: 100%;

      .item {
        // height: 100%;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid #ddd;
        margin: 0 1rem;
        padding: 0.25rem;
        justify-content: space-between;

        .page-img-wrapper {
          max-width: 100%;
          // max-height: calc(100% - 2rem);
          height: calc(100% - 2rem);
          width: 100%;
          background-color: #eaffff;
          text-align: center;
          padding: 1rem;
          .page-img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
          }
        }
        .page-number {
          border-top: 1px solid #ddd;
          width: 100%;
          text-align: center;
          margin-top: 0.25rem;
          padding-top: 0.25rem;
        }
      }
      // }
    }
  }
}
