.reader-audio-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .audio-header {
    background: white;
    height: 3rem;
    @include box-shadow(0px 2px 5px 0px #e6e6e6);
    padding: 0 0.5rem;

    .icon-wrapper {
      // line-height: 3rem;
      // line-height: 3rem;
      display: flex;
      /* justify-content: space-between; */
      align-items: center;
      height: 3rem;

      .go-back {
        width: 2rem;
        z-index: 1;
      }

      .book-title {
        flex-grow: 1;

        body:not(.rtl) & {
          margin-left: -2rem;
        }
        body.rtl & {
          margin-right: -2rem;
        }
      }

      // .icon {
      //   cursor: pointer;

      //   &.disabled {
      //     opacity: 0.5;
      //     cursor: default;
      //   }
      // }
    }
  }

  .audio-body {
    height: calc(100% - 3rem - 5rem - 2px);
    overflow: hidden;
    // .book-title {
    //   height: 1.5rem;
    // }

    // .audio-control{}

    // .app-swiper {
    //   height: calc(100% - 5rem);
    //   overflow: hidden;
    // }
  }

  .audio-footer {
    // display: flex;
    // justify-content: space-between;
    // height: 3rem;
    // align-items: center;
    padding: 0 0.5rem;
    background-color: aliceblue;
    @include box-shadow(0px -2px 5px 0px #e6e6e6);
    position: relative;
  }
}

.reader-audio-wrapper {
  .audio-body {
    .playlist {
      // height: 2rem;
      height: calc(100% - (13rem + 2rem + 1rem + 1.5rem));
      overflow-y: scroll;
      background-color: aliceblue;

      .audio-list {
        .audio-item {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0.25rem 1rem;
          font-size: 0.8rem;

          &:not(.active) {
            background-color: transparent;
          }
        }
      }
    }
    .player {
      height: 13rem + 2rem + 1rem + 1.5rem;
      overflow: hidden;

      .waveform-container {
        .waveform-wrapper {
          // height: 6.5rem;
          height: 10rem;
          overflow: hidden;
          position: relative;
          // .waveform{}
        }
        // .wave-timeline {
        //   background-color: aliceblue;
        // }
        &.is-pause {
          opacity: 0.8;
        }
      }

      // .progress {
      // }
      // .current-time{}
    }
  }
  .audio-footer {
    .audio-control {
      .action-btn {
        display: flex;
        padding: 1rem;
        // border: 1px solid app-color(info);
        border-radius: 50px;
        // color: app-color(info);

        i {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
